.ConfigForm {
  width: 40%;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.incrementer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.incrementer button {
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.incrementer p {
  flex-grow: 1;
}

.incrementer button {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.incrementer input {
  width: 50px;
  text-align: center;
}

.save-btn {
  padding: 10px 20px;
  border: none;
  background-color: #19b394;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
}
